.codehilite{
            padding: 0;
        }

        /*for block of numbers*/
        .hljs-ln-numbers{
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            text-align: center;
            color: #ccc;
            border-right: 1px solid #CCC;
            vertical-align: top;
            padding-right: 5px;
        }

        .hljs-ln-n {
          width: 30px;
        }
     
        /* for block of code */
        .hljs-ln .hljs-ln-code {
          padding-left: 10px;
          white-space: pre;
        }
.post{background: rgba(255,255,255,0.1)}
.widget{background: rgba(255,255,255,0.1)}

#backtop{
	background: url(//www.lgstatic.com/lg-www-fed/common/widgets/footer_c/modules/img/backtop-new_0e4bcbc.png) left top no-repeat);
	width: 28px;
	height: 46px;
	position: fixed;
	left: 50%;
	bottom: 88px;
	cursor: pointer;
	z-index: 1002;
}